@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255; /* Vit text */
  --background-start-rgb: 214, 219, 220; /* Ljus bakgrund */
  --background-end-rgb: 255, 255, 255; /* Ännu ljusare bakgrund */
}

body {
  color: rgb(var(--foreground-rgb)); /* Alltid vit text */
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); /* Ljus bakgrund */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
